*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  font-family: 'Gill sans', cursive;
  padding: 100px;
}

h5 {
  font-family: 'Oswald', sans-serif;
  text-transform: none;
  padding: 100px;
  padding-top: 200px;
}


