<body>
<div class="container">
  <div class="row">
    <button type="button" (click)="formDataBills()" class="btn btn--default btn--size-XL center" >Fill bills data</button>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <button (click)="infoBills()" class="btn btn--default btn--size-XL center" >Get statistic by bills</button>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <button (click)="monthStatistic()" class="btn btn--default btn--size-XL center" >Get month statistic by bills type</button>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <button type="button" (click)="returnToHomePage()" class="btn btn--default btn--size-XL center">To Homepage</button>
  </div>
</div>
</body>
