<body>
<h1>Income data</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="group">
    <input name="income" ngModel required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Income</label>
  </div>
  <div style="padding: 20px 0 0 0;">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" name="date" ngModel placeholder="Choose a date">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="month"></mat-datepicker>
    </mat-form-field>
  </div>
  <button type="submit" class="btn btn--default btn--size-XL center">Submit</button>
</form>
<app-nav-bar></app-nav-bar>
</body>
