h1 {
  text-align: center;
  /*margin-bottom: 50px;*/
  font-family: 'Gill sans', cursive;
  margin: 1em 0;
  border-bottom: 1px dashed;
  padding-bottom: 1em;
  font-weight: lighter
}

::ng-deep mat-form-field {
  width: 30%;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  width: 20% !important;
  height: 20% !important;
}

.group {
  position: relative;
  margin-bottom: 50px;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: inline-block;
  width: 300px;
}

input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: rgba(180, 180, 18, 0.57);
  font-size: 18px;
  font-weight: normal;
  display: inherit;
  /*position: absolute;*/
  pointer-events: none;
  /*left: 620px;*/
  /*top: 10px;*/
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: rgba(252, 233, 1, 0.82);
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  /*display: inline-block;*/
  width: 300px;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ae526e;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 620px;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: rgba(241, 224, 8, 0.92);
  }
  to {
    width: 0;
    background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
    background: #eae50b;
  }
  to {
    width: 0;
    background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
    background: #eae50b;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.custom-select {
  min-width: 350px;
  position: relative;
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 20%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  color: #000;
  /*cursor: progress;*/
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: '';
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
  content: '';
}

* {
  box-sizing: border-box;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  width: 229px !important;
  height: 300px !important;
}


