<body>
<h1>Bills data</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <app-form-field label="Store name" [submitted]="submitted">
    <input name="storeName" ngModel required #storeName="ngModel"
           [ngClass]="{'is-invalid': storeName.invalid && (storeName.dirty || storeName.touched || submitted)}">
  </app-form-field>
  <app-form-field label="Sum" [submitted]="submitted">
    <input name="sum" ngModel required pattern="^\d+(\.\d+)?$" #sum="ngModel"
           [ngClass]="{'is-invalid': sum.invalid && (sum.dirty || sum.touched || submitted)}">
  </app-form-field>
  <app-form-field label="Description" [submitted]="submitted">
    <input name="description" ngModel required #description="ngModel"
           [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched || submitted)}">
  </app-form-field>
  <div class="custom-select">
    <select name="typeBill" ngModel>
      <option *ngFor="let typeBill of types" [ngValue]="typeBill">{{TypeMapping[typeBill]}}</option>
    </select>
    <label>Type Bills</label>
  </div>
  <div style="padding: 20px 0 0 0;">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" name="date" ngModel placeholder="Choose a date">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="month"></mat-datepicker>
    </mat-form-field>
  </div>
  <button type="submit" [disabled]="f.invalid" class="btn btn--default btn--size-XL center">Submit</button>
</form>
<app-nav-bar></app-nav-bar>
</body>


