<body>
<h1>Bills data</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="group">
    <input name="storeName" ngModel required #first="ngModel">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Store name</label>
  </div>
  <div class="group">
    <input name="sum" ngModel required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Sum</label>
  </div>
  <div class="group">
    <input name="description" ngModel required>
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Description</label>
  </div>
  <div class="custom-select">
    <select name="typeBill" ngModel>
      <option *ngFor="let typeBill of types" [ngValue]="typeBill">{{TypeMapping[typeBill]}}</option>
    </select>
    <label>Type Bills</label>
  </div>
  <div style="padding: 20px 0 0 0;">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" name="date" ngModel placeholder="Choose a date">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="month"></mat-datepicker>
    </mat-form-field>
  </div>
  <button type="submit" class="btn btn--default btn--size-XL center">Submit</button>
</form>
<br>
<div class="container">
  <div class="row">
    <button type="button" (click)="return()" class="btn btn--default btn--size-XL center">Back</button>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <button type="button" (click)="returnToHomePage()" class="btn btn--default btn--size-XL center">To Homepage</button>
  </div>
</div>
</body>


