<body>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="All Data">
    <ng-template matTabContent>
      <div class="container">
        <div class="card material-table">
          <div class="table-header">
            <span class="table-title">Electricity meters data</span>
          </div>
          <table class="datatable">
            <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">MeterReading</th>
              <th scope="col">Diff</th>
            </tr>
            </thead>
            <tbody>
            <tr scope="row" *ngFor="let meter of meters">
              <td>{{meter.date}}</td>
              <td>{{meter.meterReading}}</td>
              <td>{{meter.diff}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Fill Data">
    <ng-template matTabContent>
      <h1>Electricity meter data</h1>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="group">
          <input name="meterReading" ngModel required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Meter Reading</label>
        </div>
        <div style="padding: 20px 0 0 0;">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" name="date" ngModel placeholder="Choose a date">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="month"></mat-datepicker>
          </mat-form-field>
        </div>
        <button type="submit" class="btn btn--default btn--size-XL center">Submit</button>
      </form>
    </ng-template>
  </mat-tab>
</mat-tab-group>
<div class="container">
  <div class="row">
    <button type="button" (click)="getChart()" class="btn btn--default btn--size-XL center">Get Chart</button>
  </div>
</div>
<br/>
<div class="chart-container" style="position: relative; height:60vh; width:120vw">
  <canvas id="MyChart">{{chart}}</canvas>
</div>
<br/>
<app-nav-button [targetRoute]="'/meters'"></app-nav-button>
<br>
<app-nav-button [label]="'To Homepage'"></app-nav-button>
</body>
