<body>
<h1>Monthly statistics</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <div class="custom-select">
    <select name="typeBill" ngModel>
      <option *ngFor="let typeBill of types" [ngValue]="typeBill">{{TypeMapping[typeBill]}}</option>
    </select>
    <label>Type Bills</label>
  </div>
  <br>
  <button type="submit" class="btn btn--default btn--size-XL center">Submit</button>
</form>
<br>
<div class="container">
  <div class="card material-table">
    <div class="table-header">
      <span class="table-title">General bills statistic by month</span>
    </div>
    <table class="datatable">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Sum</th>
      </tr>
      </thead>
      <tbody>
      <tr scope="row" *ngFor="let statistic of generalStatistics">
        <td>{{statistic.date}}</td>
        <td>{{statistic.sum}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<app-chart-button [chartData]="generalStatistics" [valueKey]="'sum'" [label]="'Sum'"></app-chart-button>
<br>
<app-nav-button [targetRoute]="'/bills'"></app-nav-button>
<br>
<app-nav-button [label]="'To Homepage'"></app-nav-button>
</body>
