:host {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1 {
  font-family: 'Gill sans', cursive;
  padding: 100px;
}

div.security a {
  margin: 0 0.5em
}
