<div class="container">
  <div class="row">
    <button type="button" (click)="openMetersPage()" class="btn btn--default btn--size-XL center" >Электричество</button>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <button type="button" (click)="dataHotWater()" class="btn btn--default btn--size-XL center" >Горячая вода</button>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <button type="button" (click)="dataColdWater()" class="btn btn--default btn--size-XL center" >Холодная вода</button>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <button type="button" (click)="return()" class="btn btn--default btn--size-XL center" >Назад</button>
  </div>
</div>

